*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
	font-size: 62.5%;
	font-family: karla ,sans-serif ;
}

header {
	width: 100%;
    height:10.592rem;
    display: flex; 
	justify-content: space-between;
	position: fixed;
	background-color: white;
}


.logo img{
	width: 23rem;
	padding-left: 1rem;
}

.nav{
	height: 100%;
	padding: 3rem;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.nav li{
   
	font-size: 1.6rem;
	margin: 1rem 0;
	padding-left: 5rem;
    padding-right: 5rem;
}
.menu{
	display: flex;
}

.login{
	padding: 3rem 2rem;
	text-align: center;
	margin: 1rem 0;
	}



.login a{
	font-size: 1.6rem;
}



.search{
	font-size: 3rem;
	text-align: center;
	padding: 2.3rem 0;
	margin: 1rem 0;
}
.shopping-cart{
	font-size: 3rem;
	text-align: center;
	padding: 2.3rem 2rem;
	margin: 1rem 0;
}

.portada img{
	width: 100%;
	margin-top: 100px;
}


header a {
    text-decoration:none;
    color: #8E8072;
}

.title h1 {
	margin: 3rem;
	padding: 5rem; 
	font-size: 5rem;
	text-align: center;
	color: #8E8072;
}

.welcome{
	display: flex;
	flex-direction: column;
    padding:  10rem 0rem;
}

.welcome p{
	text-align: center;
	font-size: 2rem;
	padding: 0rem 5rem;;	
}

.carrete{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.carrete img{
	width: 25rem;
	flex-grow: 1;
	padding: 0rem;
}

.galeria{
	padding-top:  10rem ;
}


.cards{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card{
	width: 30rem;
}

.foto img{
	width: 30rem;
}

 .descripcion{
	text-align: center;
	margin: 1.5rem;
	font-size: 1.2rem;
}

.precio{
	text-align: center;
	margin: 1.5rem;
	font-size: 1.5rem;
}



footer{
   width: 100%;
   height: 50rem;
   background-color: #8E8072;
   color: white;
   margin-top: 15rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   
}

ul{
 list-style: none;
 
 
}

#logo-clear img{
   width: 30rem;
   height: 12rem;
}



footer a{
	text-decoration:none;
    color: white;
	font-size: 2rem;
	padding: 2rem 2rem;
}

#icons {
 margin-top: 12rem;
 margin-left: 10rem;
}

#icons li{
padding: 3.5rem 0;

}

footer p{
	width: 40rem;
	font-size: 1.6rem;
	padding: 2rem 0 2rem 3rem ;
}

.items{
    
	height: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


#social-media{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}





